.user_posts{
    background-color: #0000009c;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user_posts hr{
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 80px;
}

.user_posts h1{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user_posts h2{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user_posts ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.user_posts ul li{
    display: inline-block;
    margin: 0 10px;
}

.user_posts ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}